.navtop {
	
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content1 {
	width: 1200px;
	margin: 0 auto;
	color:chocolate;

}

.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: black;
	color: rgb(192, 58, 58);
}
.content > p table td, .content > div table td {
	padding: 5px;
}

.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.box
{
	  position:relative;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  background:#0A020C;
}
.box:before
{
	content:'';
	position:absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	z-index:-1;
}

.box:after
{
	content:'';
	position:absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	z-index:  -2;
	filter:blur(40px);
}

.box:before,
.box:after
{
	background:linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.ml5 {
	position: relative;
	font-weight: 300;
	font-size: 4.5em;
	color:chocolate;
  }
  
  .ml5 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
	line-height: 1em;
  }
  
  .ml5 .line {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 3px;
	width: 100%;
	background-color: chocolate;
	transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
	font-family: Baskerville, "EB Garamond", serif;
	font-style: italic;
	font-weight: 400;
	width: 1em;
	margin-right: -0.1em;
	margin-left: -0.1em;
  }
  
  .ml5 .letters {
	display: inline-block;
	opacity: 0;
  }

  * {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #435165;
	
}
.login {
	width: 600px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 180px auto;
}
.login h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}
.login form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color:blue;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
	width: 510px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"] {
	width: 100%;
	padding: 15px;
   margin-top: 20px;
	background-color: blue;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: green;
	transition: background-color 0.2s;
}